.fa {
    text-align: center;
    text-decoration: none;
  }

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  color: grey;
}

.fa-twitter {
  color: grey;
}

.fa-instagram {
    color: grey;
  }
  
  .fa-pinterest {
    color: grey;
  }

#section1 {
  background-color: #16EAE7;
}

#section3 {
  background-color: #2B4EEA;
}