#contactinfo {
    margin-right: 275px;
    margin-top: -25px;
    text-align: center;
}

#name {
    margin-block-end: 0;
}

#title {
    margin-block-start: 0;
}

#summary {
    margin-top: -20px;
}

#certifications {
    margin-top: -90px;
}

#summarytext {
    margin-block-start: -10px;
    margin-block-end: 5px;
}

.grey-bar {
    background-color: rgb(214, 206, 206);
}

.blue-text {
    color:rgb(75, 146, 226);
    font-size: 15;
}

.left {
    width: 75%;
    border: 1px solid black;
    border-collapse: collapse;
}

.right {
    width: 25%;
    border: 1px solid black;
    border-collapse: collapse;
}

.table {
    border-spacing: 0px;
    float: right;
}

.entrytext {
    font-size: 14px;
}

.headerspace {
    margin-block-start: 0px;
    margin-block-end: 5px;
}

img {
    border-radius: 50%;
    margin-top: -190px;
    margin-right: 70px;
    margin-bottom: 10px;
    float: right;
}

ul {
    margin-block-start: 10px;
    margin-block-end: 10px;
}

/*Found this in an article on creating resumes using HTML & CSS*/

main {
    margin: 0 auto; 
    box-sizing: border-box;
    padding: 0.5in; 
    width: 8.5in;
    height: 11in;
    background-color: white;
    box-shadow: 0 3px 8px -3px rgba(0, 0, 0, 0.7);
}

